<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- Materalize -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- materialize icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="../assets/css/style.css">
    </link>
</head>

<body>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div id="slide-out" class="sidenav">
                    <div class="col s4">
                        <div class="coctailSearch">
                            <form action="" method="post">

                                <p><b>Ingredients</b></p>
                                <!-- dropdown for alcoholic -->
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropAlco"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Alcoholic
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <form action="" method="post">
                                            <label> <input type="checkbox" class='ing' value="vodka" />
                                                <span>Vodka</span>
                                            </label></br>
                                            <label> <input type="checkbox" class='ing' value="gin" />
                                                <span>Gin</span> </label>
                                            <br>
                                            <label> <input type="checkbox" class='ing' value="rum" />
                                                <span>Rum</span>
                                            </label><br>
                                            <label> <input type="checkbox" class='ing' value="tequila" />
                                                <span>Tequila</span>
                                            </label><br>
                                            <label> <input type="checkbox" class='ing' value="whiskey" />
                                                <span>Whiskey</span>
                                            </label><br>
                                            <label> <input type="checkbox" class='ing' value="red_wine" />
                                                <span>Red wine</span>
                                            </label><br>
                                            <label> <input type="checkbox" class='ing' value="triple_sec" />
                                                <span>Triple
                                                    sec</span>
                                            </label><br>
                                            <label> <input type="checkbox" class='ing' value="jagermeister" />
                                                <span>Jagermeister</span> </label><br>
                                            <label> <input type="checkbox" class='ing' value="kahlua" />
                                                <span>Kahlua</span>
                                            </label><br>

                                            <label> <input type="checkbox" class='ing' value="cointreau" />
                                                <span>Cointreau</span>
                                            </label><br>
                                            <label> <input type="checkbox" class='ing' value="campari" />
                                                <span>Campari</span>
                                            </label><br>
                                            <label> <input type="checkbox" class='ing' value="champagne" />
                                                <span>Champagne</span>
                                            </label><br>

                                            <label> <input type="checkbox" class='ing' value="vermouth" />
                                                <span>Vermouth</span>
                                            </label><br>
                                            <label> <input type="checkbox" class='ing' value="brandy" />
                                                <span>Brandy</span>
                                            </label><br>
                                            <label> <input type="checkbox" class='ing' value="amaretto" />
                                                <span>Amaretto</span>
                                            </label><br>
                                            <label> <input type="checkbox" class='ing' value="ginger_ale" />
                                                <span>Ginger
                                                    Ale</span>
                                            </label><br>
                                        </form>
                                    </div>
                                </div>

                                <!-- dropdown for non-alcoholic -->
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Non alcoholic
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <form action="" method="post">
                                            <label> <input type="checkbox" class='ing' value="soda_water" />
                                                <span>Soda
                                                    Water</span>
                                            </label><br>
                                            <label> <input type="checkbox" class='ing' value="coffee" />
                                                <span>Coffee</span>
                                            </label><br>
                                            <label> <input type="checkbox" class='ing' value="coca_cola" />
                                                <span>Coca-Cola</span>
                                            </label><br>
                                            <label> <input type="checkbox" class='ing' value="sweet_and_sour" />
                                                <span>Sweet
                                                    and
                                                    Sour</span> </label><br>

                                            <label> <input type="checkbox" class='ing' value="cream" />
                                                <span>Cream</span>
                                            </label><br>
                                            <label> <input type="checkbox" class='ing' value="milk" />
                                                <span>Milk</span>
                                            </label><br>

                                            <label> <input type="checkbox" class='ing' value="grenadine" />
                                                <span>Grenadine</span>
                                            </label><br>
                                            <label> <input type="checkbox" class='ing' value="red_wine" />
                                                <span>Red
                                                    wine</span>
                                            </label><br>
                                            <label> <input type="checkbox" class='ing' value="grapefruit_juice" />
                                                <span>Grapefruit
                                                    Juice</span> </label><br>
                                            <label> <input type="checkbox" class='ing' value="apple_juice" />
                                                <span>Apple
                                                    Juice</span> </label><br>
                                            <label> <input type="checkbox" class='ing' value="orange_juice" />
                                                <span>Orange
                                                    Juice</span> </label><br>
                                            <label> <input type="checkbox" class='ing' value="pineapple_juice" />
                                                <span>Pineapple
                                                    Juice</span> </label><br>
                                            <label> <input type="checkbox" class='ing' value="cranberry_juice" />
                                                <span>Cranberry
                                                    Juice</span> </label><br>
                                            <label> <input type="checkbox" class='ing' value="sugar_syrup" />
                                                <span>Sugar
                                                    Syrup</span> </label><br>

                                        </form>
                                    </div>
                                </div>

                                <!-- dropdown for fruits -->
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Fruits
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <form action="" method="post">
                                            <label> <input type="checkbox" class='ing' value="orange" />
                                                <span>Orange</span>
                                            </label><br>
                                            <label> <input type="checkbox" class='ing' value="banana" />
                                                <span>Banana</span>
                                            </label><br>
                                            <label> <input type="checkbox" class='ing' value="lemon" />
                                                <span>Lemon</span>
                                            </label><br>
                                            <label> <input type="checkbox" class='ing' value="lime" />
                                                <span>Lime</span>
                                            </label><br>
                                            <label> <input type="checkbox" class='ing' value="pineapple" />
                                                <span>Pineapple</span>
                                            </label><br>
                                            <label> <input type="checkbox" class='ing' value="strawberries" />
                                                <span>Strawberries</span> </label><br>
                                            <label> <input type="checkbox" class='ing' value="brandy" />
                                                <span>Cranberry
                                                    Juice</span> </label><br>
                                        </form>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-outline-dark" onclick="searchByIngredients(event)">
                                    Show results
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <h1 class="display-4">Amazing App</h1>
            </div>
        </div>
    </div>


    <script src="../assets/javascript/script.js"></script>
   
        <script>
            $(document).ready(function () {
                $('.sidenav').sidenav();
            });
        </script>
</body>

</html>