.jumbotron {
  /* background: url(../images/bg10.jpg) no-repeat center; */
  display: flex;
}
.jumbotron h1 {
  font-size: 5em;
  font-weight: 500;
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 0;
}
#dropAlcoDiv,
#dropNonAlcoDiv,
#dropFruitsDiv {
  display: none;
}
html {
  height: 100%;
}
body {
  background: url(../images/bg1.jpg) no-repeat;
  background-size: cover;
  background-position: center bottom;
  font-family: "Gruppo", sans-serif !important;
}

.dropdown {
  margin: 20px 0;
}

.sidenav {
  background-color: rgba(0, 56, 65, 0.7);
  padding: 10px 60px;
}
.btn {
  background-color: #ffe4c4;
  color: black;
  font-size: 1.2em;
  font-family: "Gruppo", sans-serif !important;
  font-weight: 900;
}

.btn-outline-dark {
  margin-top: 10px;
}
.btn:hover {
  background-color: #deaa88;
}
.material-icons {
  color: black;
}
.appName {
  display: flex;
  justify-content: center;
}

.logo {
  margin-right: 15px;
  height: 120px;
  width: 105px;
}

.jumbotron span {
  font-size: 1.8em !important;
}

.row {
  align-self: center;
  display: flex;

  justify-content: center;
  min-width: 600px;
}

.card {
  height: 450px;
}

.input-field {
  margin-top: 0;

  min-width: 350px !important;
  margin-right: 20px;
}
.input-field label {
  font-size: 1.4em;
  color: #000000;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.carousel {
  margin-bottom: 30px;
  padding-top: 0;
  margin-top: -40px !important;
}
/* 
font-family: 'Advent Pro', sans-serif;
font-family: 'Marcellus', serif;
font-family: 'Gruppo', cursive;

font-family: 'Inknut Antiqua', serif;
font-family: 'Bubbler One', sans-serif;
font-family: 'Thasadith', sans-serif;
*/
