/* #cock {
    position: absolute;
    left: 47.5%;
    top: 47.5%;
    width: 0.5vw;
    height: 1vh;
}

#glassHeight {
    height: 255px;
    width: 100px;
} */

.card-image{
    height: 350px
}

.appName {
    display: flex;
    justify-content: center;
  }
  #jumbo{
    background: url(../images/bg10.jpg) no-repeat center;
  }

  #prefb{
      margin 
  }